{% extends "layout.html" %}

{% block body %}

    <form action="/sports" method="post">
        <input name="name" placeholder="Name" required type="text">
        <select name="sport">
            <option disabled selected>Select a sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <button type="submit">Register</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Go back</button>
    </form>
    <form action="/sports/registrants" method="get">
        <button type="submit">See register list</button>
    </form>

{% endblock %}
